body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
section .left-width h1{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}
section .left-width .orange-color{
    color: #FA6F5B;
}
 .link-button{
    text-decoration: none;
    padding:0.5rem 2rem;
    background:linear-gradient(90deg,#FA6F5B, #ff9e8f);
    border-radius: 0.2rem;
    font-weight: 800;
    color:#000;
}
.left-width{
    width:50%;
    padding:0  8rem;
}
 .right-width{
    width:40%;
}
.right-width img {
width: 70%;
}
.top-banner{
    background-image: url(/img/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dream-big img{
    width: 80%;
}
.dream-big .right-width{
    padding: 0 7rem;
}
.dream-big{
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}