body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.flexiable-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.half-width{
    width: 50%;
    padding-left:2rem;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 2.5rem;
}
.half-width h1,h2{
    font-size: 3rem;
    padding:0;
    margin: 0;
}
.half-width p{
    font-size: 1.2rem;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-image: linear-gradient(45deg, orange, rgb(235, 178, 72));
    font-weight: 800;
}
.top-banner{
    background-image: url(/img//top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
   background-image: url(/img/dream-big.png)
}
.flexiable-container\' {
    display: flex;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 0.3rem;
    border-left: 1rem solid yellow;
}
.experience-items h1{
    font-size: 2.5rem;
}
.experience-items h1{

}
.experience-area{
    background-image:url(/img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 3rem;
}
#baby-developer{
    border-left: 0.3rem solid blue;

}
#full-developer{
border-left: 0.3rem solid rgb(239, 109, 61);
}